html {
    font-family: 'Roboto' !important;
    /*    cursor: url(de.png);*/
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 10px;
}

.concept {
    margin-top: 5%;
}

.presentationConcept {
    text-align: center;
    margin: 40px 20%;
    font-size: 1rem;
}

.methodo {
    text-decoration: none;
    justify-content: center;
    border: none;
    padding: 15px;
    border-radius: 8px;
    border: solid black 1.5px;
    -webkit-border-radius: 8px;
    background: white;
    font: 20px Roboto !important;
    color: black;
    margin: 80px auto 0;
    display: flex;
    width: 150px;
}

#jeu {
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

body {
    margin: 0;
}

.entete {
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px -10px 20px grey;
    box-shadow: 0px -10px 20px grey;
    margin: 0;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 100px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 1;
}

.jouer {
    text-decoration: none;
    justify-content: center;
    border: none;
    padding: 15px;
    border-radius: 8px;
    border: solid black 1.5px;
    -webkit-border-radius: 8px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 5%;
    margin: 30px auto;
    display: flex;
}

.archiOppo {
    color: black;
    margin: auto 0;
    text-decoration: none;
    left: 90px;
    position: relative;
}

#resultat {
    display: -webkit-flex;
    position: relative;
    min-width: 80px;
    z-index: 2;
    opacity: 1;
}

#p1 {
    display: -webkit-flex;
    position: relative;
    min-width: 80px;
    z-index: 2;
    display: inline-block;
    margin: auto;
}

#p2 {
    display: -webkit-flex;
    flex-direction: row;
    position: relative;
    min-width: 80px;
    z-index: 2;
}

#resultatDe {
    margin: auto 5px;
}

.resultatDe {
    width: 50px;
}

#resultat1 {
    margin: 7px 7px;
}

#resultat2 {
    margin: 7px 7px;
}

#resultat3 {
    margin: 7px 7px;
}

#resultat4 {
    margin: 7px 7px;
}

#resultat5 {
    margin: 7px 30px 7px 7px;
}

.resultatCartes1 {
    width: 70px;
    margin: 3px;
}

.resultatCartes2 {
    width: 70px;
    margin: 3px;
}

.resultatCartes3 {
    width: 70px;
    margin: 3px;
}

.resultatCartes4 {
    width: 70px;
    margin: 3px;
}

.resultatCartes5 {
    width: 70px;
    margin: 3px;
}

#page2 {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);

    overflow: hidden;
    margin: 0px 30px 20px;
}


#page3 {
    height: 0;
    overflow: hidden;
}

#page3:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    height: auto;
    overflow: hidden;
}

#page4 {
    height: 0;
    overflow: hidden;
}

#page4:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#page5 {
    height: 0;
    overflow: hidden;
}

#page5:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#page6 {
    height: 0;
    overflow: hidden;
}

#page6:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#bilan {
    height: 0;
    overflow: hidden;
}

#bilan:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#resultatBilan {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 80px;
}


.bilanDe {
    width: 13vh;
}

#bilan1 {
    margin: 7px 1vw;
}

#bilan2 {
    margin: 7px 1vw;
}

#bilan3 {
    margin: 7px 1vw;
}

#bilan4 {
    margin: 7px 1vw;
}

#bilan5 {
    margin: 7px 1vw;
}

.bilanCartes1 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes2 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes3 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes4 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes5 {
    width: 14vh;
    margin: 0.3vw;
}

.ligne1 {
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
}

.ligne2 {
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
}

/***********************************MENU*********************************/

#menuBurger {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 40px 30px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#menu a:hover {
    color: orange;
}

#menu ul {
    padding-left: 30px;
}

#menuBurger input {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    cursor: pointer;
    -webkit-opacity: 0;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuBurger span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        -webkit-opacity 0.55s ease;
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        -webkit-opacity 0.55s ease;
}

#menuBurger span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#menuBurger span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#menuBurger input:checked ~ span {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
    background: white;
}

#menuBurger input:checked ~ span:nth-last-child(3) {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.4, 0.2);
    transform: rotate(0deg) scale(0.4, 0.2);
}

#menuBurger input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0.5px, 0px);
    transform: rotate(-45deg) translate(0.5px, 0px);
}

#menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    background: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);

    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li a {

    font-size: 70px;
}

#menu li {
    padding: 0;
    margin: 0 0 20px 30px;
}

#menuBurger input:checked ~ ul {
    -webkit-transform: none;
    transform: none;
}

/******************************     ACCUEIL     *********************************/

.accueil {
    display: -webkit-flex;
    text-align: center;
    z-index: 5;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.logoResponsive {
    display: none;
}

.accueil .logo {
    width: 60%;
    margin: auto;
    display: flex;
}

.lettre {
    transform: scale(0.5);
    margin: 0;
}

.o1 {
    position: absolute;
    top: 29%;
    width: 10%;
    left: 26%;
    animation-duration: 2.7s;
    animation-name: slideO1;
}

@keyframes slideO1 {
    from {
        top: -100%;
    }

    to {
        top: 29%;
    }
}

.p11 {
    position: absolute;
    right: 57.1%;
    width: 11.5%;
    top: 34.3%;
    animation-duration: 2s;
    animation-name: slideP11;
}

@keyframes slideP11 {
    from {
        right: -60%;
    }

    to {
        right: 57.1%;
    }
}


.p12 {
    position: absolute;
    width: 4%;
    top: 30.05%;
    left: 32.5%;
    animation-duration: 1s;
    animation-name: slideP12;
}

@keyframes slideP12 {
    from {
        left: -30%;
    }

    to {
        left: 32.5%;
    }
}

.p21 {
    position: absolute;
    right: 58.5%;
    width: 6.5%;
    top: 49.9%;
    animation-duration: 2s;
    animation-name: slideP21;
}

@keyframes slideP21 {
    from {
        right: -60%;
    }

    to {
        right: 58.5%;
    }
}

.p22 {
    position: absolute;
    width: 2%;
    top: 47.9%;
    left: 35.75%;
    animation-duration: 1s;
    animation-name: slideP22;
}

@keyframes slideP22 {
    from {
        left: -30%;
    }

    to {
        left: 35.75%;
    }
}

.o2 {
    position: absolute;
    width: 11.7%;
    left: 37%;
    top: 29.7%;
    animation-duration: 2.7s;
    animation-name: slideO2;
}

@keyframes slideO2 {
    from {
        top: -100%;
    }

    to {
        top: 29.7%;
    }
}


.r1 {
    position: absolute;
    width: 7%;
    top: 44.5%;
    left: 46.7%;
    animation-duration: 2s;
    animation-name: slideR1;
}

@keyframes slideR1 {
    from {
        top: 130%;
    }

    to {
        top: 44.5%;
    }
}

.r2 {
    position: absolute;
    top: 34.5%;
    right: 45.3%;
    /*    left: 43.7%;*/
    width: 11%;
    animation-duration: 2s;
    animation-name: slideR2;
}

@keyframes slideR2 {
    from {
        right: -30%;
    }

    to {
        right: 45.3%;
    }
}

.r3 {
    position: absolute;
    top: 31.5%;
    left: 45.1%;
    width: 3%;
    animation-duration: 1s;
    animation-name: slideR3;
}

@keyframes slideR3 {
    from {
        left: -30%;
    }

    to {
        left: 45.1%;
    }
}

.t1 {
    position: absolute;
    width: 4%;
    top: 21.9%;
    left: 51.6%;
    animation-duration: 1s;
    animation-name: slideT1;
}

@keyframes slideT1 {
    from {
        left: -30%;
    }

    to {
        left: 51.6%;
    }
}

.t2 {
    position: absolute;
    width: 15%;
    top: 27.4%;
    left: 46.1%;
    animation-duration: 1.5s;
    animation-name: slideT2;
}

@keyframes slideT2 {
    from {
        top: -40%;
    }

    to {
        top: 27.4;
    }
}

.u {
    position: absolute;
    top: 20.5%;
    left: 51.3%;
    /*    bottom: 27.3%;*/
    width: 15%;
    animation-duration: 2s;
    animation-name: slideU;
}

@keyframes slideU {
    from {
        top: 130%;
    }

    to {
        top: 20.5%;
    }
}

.n1 {
    position: absolute;
    width: 8.3%;
    top: 34.7%;
    left: 60.6%;
    animation-duration: 2s;
    animation-name: slideN1;
}

@keyframes slideN1 {
    from {
        top: 130%;
    }

    to {
        top: 34.7%;
    }
}

.n2 {
    position: absolute;
    top: 34.544%;
    width: 2.5%;
    left: 61.7%;
    animation-duration: 1s;
    animation-name: slideN2;
}

@keyframes slideN2 {
    from {
        left: -30%;
    }

    to {
        left: 61.7%;
    }
}

.n3 {
    position: absolute;
    top: 34.544%;
    width: 2.5%;
    left: 65.25%;
    animation-duration: 1s;
    animation-name: slideN3;
}

@keyframes slideN3 {
    from {
        left: -30%;
    }

    to {
        left: 65.25%;
    }
}

.accueil .archi {
    width: 35%;
    height: auto;
    position: absolute;
    top: 24%;
    left: 21.5%;
    animation-duration: 4s;
    animation-name: slideArchi;
}

@keyframes slideArchi {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.scroll {
    position: absolute;
    height: 8%;
    margin: 0 auto;
    bottom: 4%;
    z-index: 13;
    left: 47%;
    -webkit-animation: shake 1s infinite;
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        -webkit-transform: translate(0.0px);
        transform: translate(0.0px);
    }

    50% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }

    100% {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
}

/*************************************    REGLE    **********************************/

.haut {
    display: -webkit-flex;
    margin-bottom: 20px;
}

.haut div {
    border: solid black 1.5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0 20px;
}

.haut div:first-of-type {
    width: 40%;
    margin-right: 20px;
}

.haut div:nth-of-type(2) {
    width: 60%;
    margin-right: 0px;
}

.bas {
    border: solid black 1.5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.basTel {
    display: none;
}

.lesEtapes {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.lesEtapes div {
    width: 16%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.regleA {
    padding: 130px 30px 50px;
    display: none;
}

.regle {
    padding: 130px 30px 50px;
    display: block;
}


.regleA h2 {
    font-size: 25px;
}

.regle h2 {
    font-size: 25px;
}

.deBut {
    width: 100px;
    margin: 0;
    right: 0;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape2 {
    width: 60%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape3 {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape4 {
    margin-top: 10px;
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape5 {
    width: 36%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape6 {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.lesEtapes p {
    margin: 0px 0 10px;
}

.lesEtapes h3 {
    margin: 0 0 10px;
}

.un h3 {
    margin-top: 20px;
}

/*****************************************   ETAPE 1 *****************************/
#des img {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 12vh;
    height: 12vh;
    margin: 1vh;
}

#des {
    width: 95vh;
    height: 28vh;
    margin: 0 auto;
    padding-top: 2%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.bouton1 {
    border: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    display: block;
    margin: auto;
}

.bouton2 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton3 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton4 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton5 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton6 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton7 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: block;
}

.etape1 p {
    position: relative;
    z-index: -10;
}

.etape1 p:nth-of-type(2)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #E07B11;
    margin: 0 10px;
    top: 3px;
    position: relative;
    z-index: 0;
}

.etape1 p {
    margin: 10px 0 5px 0;
}

.titre1 {
    margin-bottom: 15px;
}

.etape1 p:first-of-type {
    margin: 0 10px 0 40px;
}

.etape1 p:nth-of-type(3)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #082312;
    margin: 0 10px;
    top: 3px;
    z-index: 0;
    position: relative;
}

/*****************************************   ETAPE 2 ********************************/
.etape2 {
    height: 100%;

}

#jeuCartes {
    margin: 10px auto;
    width: 153vh;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

/*Retournement des cartes : principe du flip  */
.flip {
    margin: 1vh 1vh;
    width: 15vh;
    position: relative;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);

}

.flip img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
}

.flip img {
    -webkit-box-shadow: 0 0 0px black;
    box-shadow: 0 0 0px black;
    display: block;
    width: 15vh;
}

.flip img:first-child {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    top: 0;
    left: 0;
}

.face {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/********************************    ETAPE 3 ***********************************/

#programme {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 85vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}


/***********************************    ETAPE 4 ***************************/

#oppoArchi {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 119vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

/***********************************    ETAPE 5 ***************************/

#site {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 102vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}





/*****************************   FOOTER ************************/

footer p {
    position: fixed;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    bottom: 0;
    height: 25px;
    font-size: 0.7rem;

    background-color: white;
}

footer {
    height: 20px;
    bottom: 0;
    background-color: white;
    z-index: 2;
}

/***********************************************************************    CONTACT  *********************************************************/

#contact {
    padding: 130px 30px 0 30px;

}

.lesPortraits {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

}

.portrait {
    width: 15%;
    margin: 15px;
}


.portrait img {
    width: 100%;
    opacity: 0.7;
}

.portrait p:first-of-type {
    text-align: center;
}

.portrait p:not(:first-of-type) {
    font-size: 14px;
}

.contact {
    text-decoration: none;
    justify-content: center;
    border: none;
    padding: 15px;
    border-radius: 8px;
    border: solid black 1.5px;
    -webkit-border-radius: 8px;
    background: white;
    font: 20px Roboto !important;
    color: black;
    margin: 0 auto 0;
    display: flex;
    width: 150px;
}


/*****************************************************   A PROPOS  *********************************************/

.aPropos {
    padding: 130px 30px 50px;
}


/***************************************************    BIBLIOTHEQUE *****************************************/

.biblio {
    display: block;
}

.biblioTel {
    display: none;
}

.bibliotheque {
    margin: 130px 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.bibliotheque .formbox img {
    width: calc(50vw - 40px);
}

.bibliotheque h2 {
    margin: 0 0 0 22px;
}

.exemple {
    padding-bottom: 30px;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

#popup1:target, #popup2:target, #popup3:target, #popup4:target, #popup5:target, #popup6:target, #popup7:target, #popup8:target, #popup9:target, #popup10:target, #popup11:target, #popup12:target, #popup13:target, #popup14:target, #popup15:target, #popup16:target, #popup17:target, #popup18:target, #popup19:target, #popup20:target, #popup21:target, #popup22:target, #popup23:target {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.popup-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80%;
}

.popup-card-content img {
    margin: 5vh 10vw;
    height: 90vh;
}

.close img {
    z-index: 18;
    position: absolute;
    top: 30px;
    right: 50px;
    margin: 0;
    width: 50px;
    height: 50px;
}

.close:target .popup{
    visibility: hidden;
}
























/**********************************************   PDF   ***********************************************/


.page-template {
    font-family: 'arial';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page-template .header {
    position: absolute;
    top: 4%;
    left: 3%;
    color: black;
    font-size: 0.8rem;
}

.page-template .footer {
    position: absolute;
    font-size: 8px;
    bottom: 1.5%;
    right: 0;
    left: 0;
    text-align: center;
    color: black;
}

.page-template .rect {
    content: "";
    border: solid black 1px;
    border-radius: 8px;
    position: absolute;
    bottom: 4%;
    height: 61%;
    width: 94%;
    left: 3%;
}

.page-template .rectResultat {
    content: "";
    border: solid black 1px;
    border-radius: 8px;
    position: absolute;
    top: 7%;
    height: 21%;
    width: 94%;
    left: 3%;
}

.page-template .body {
    font-size: 0.8rem;
    position: absolute;
    left: 3%;
    bottom: calc(25px + 62%);
}







@media screen and (max-device-width: 576px) {
    .accueil .logo {
        display: none;
    }

    .accueil .logoResponsive {
        display: flex;
        margin: 35vh 10% auto;
        width: 80vw;
    }

    .accueil {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .scroll {
        left: 42%;
    }

    .entete {
        min-height: 180px;
    }

    .archiOppo {
        font-size: 35px;
        margin: auto 60px;
    }



    #menuBurger {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 75px 50px;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;
        position: fixed;
        top: 0;
    }

    #menuBurger input {
        width: 45px;
        height: 45px;

    }

    #menuBurger span {
        width: 50px;
        margin-bottom: 10px;
    }

    .concept {
        margin: 150px 0;
    }

    .presentationConcept {
        margin: 7%;
        font-size: 2.5rem;
    }

    .methodo {
        padding: 25px;
        font-size: 2.5rem;
    }

    footer p {
        bottom: 0;
        font-size: 1.5rem;
    }


    .haut {
        flex-wrap: wrap;
        margin: 90px 0 20px;
    }

    .haut div {
        border: solid black 1.5px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        padding: 0 20px;
    }

    .haut div:first-of-type {
        width: 100vw;
        margin: 0 0 40px 0;
    }

    .haut div:nth-of-type(2) {
        width: 100vw;
        margin-right: 0px;
    }

    .bas {
        flex-wrap: wrap;
    }


    .bas {
        display: none;
    }

    .deBut {
        width: 100px;
        margin: 0;
        right: 0;
        -webkit-align-self: center;
        align-self: center;
    }

    .cEtape2 {
        width: 20%;
        -webkit-align-self: center;
        align-self: center;
    }

    .cEtape3 {
        width: 40%;
        -webkit-align-self: center;
        align-self: center;
    }

    .cEtape4 {
        margin-top: 10px;
        width: 40%;
        -webkit-align-self: center;
        align-self: center;
    }

    .cEtape5 {
        width: 36%;
        -webkit-align-self: center;
        align-self: center;
    }

    .cEtape6 {
        width: 40%;
        -webkit-align-self: center;
        align-self: center;
    }

    .lesEtapes p {
        margin: 0px 0 10px;
    }

    .lesEtapes h3 {
        margin: 0 0 10px;
    }

    .un h3 {
        margin-top: 20px;
    }



    .basTel {
        display: block;
    }




    .slider {
        margin: 40px auto;
        width: calc(100vw - 60px);
        border: solid black 1.5px;
        border-radius: 25px;

        overflow: hidden;
    }

    .slide_viewer {
        height: 70vw;
        overflow: hidden;
        position: relative;
    }

    .slide_group {
        height:auto;
        position: relative;
        width: 80%;
        margin: auto;
    }

    .slide {
        height: 100%;
        margin: 40px auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .slide:first-of-type h3 {
        font-size: 46px;
        padding: 280px 0 0;
    }

    .slide:first-of-type p {
        margin: 0;
        font-size: 40px;
    }

    .slide:first-of-type img {
        width: 300px;
        position: absolute;
        right: 60px;
        top: 20px;
    }

    .slide:nth-of-type(2) {
        text-align: right;
    }

    .slide:nth-of-type(2) h3 {
        font-size: 46px;
        padding: 170px 0 0;
    }

    .slide:nth-of-type(2) p {
        font-size: 40px;
    }

    .slide:nth-of-type(2) img {
        width: 350px;
        position: absolute;
        left: 60px;
    }

    .slide:nth-of-type(3) {
        text-align: right;
    }


    .slide:nth-of-type(3) h3 {
        font-size: 46px;
        padding: 230px 0 0;
    }

    .slide:nth-of-type(3) p {
        font-size: 40px;
    }

    .slide:nth-of-type(3) img {
        width: 240px;
        position: absolute;
        left: 100px;
    }



    .slide:nth-of-type(4) h3 {
        font-size: 46px;
        padding: 280px 0 0;
    }

    .slide:nth-of-type(4) p {
        font-size: 40px;
    }

    .slide:nth-of-type(4) img {
        width: 240px;
        position: absolute;
        right: 120px;
    }


    .slide:nth-of-type(5) h3 {
        font-size: 46px;
        padding: 280px 0 0;
    }

    .slide:nth-of-type(5) p {
        font-size: 40px;
    }

    .slide:nth-of-type(5) img {
        width: 240px;
        position: absolute;
        right: 120px;
    }

    .slide:nth-of-type(6) h3 {
        font-size: 46px;
        padding: 280px 0 0;
    }

    .slide:nth-of-type(6) p {
        font-size: 40px;
    }

    .slide:nth-of-type(6) img {
        width: 240px;
        position: absolute;
        right: 120px;
    }


    .directional_nav {
        margin: 0 auto;
        max-width: 940px;
        position: relative;
        top: -36vw;
    }

    .previous_btn {
        bottom: 0;
        left: 20px;
        margin: auto;
        position: absolute;
        top: 0;
    }

    .next_btn {
        bottom: 0;
        margin: auto;
        position: absolute;
        right: 20px;
        top: 0;
    }

    .previous_btn,
    .next_btn {
        height: 100px;
        opacity: 1;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        width: 100px;
    }

    .jouer {
        text-decoration: none;
        justify-content: center;
        border: none;
        padding: 25px;
        border-radius: 8px;
        border: solid black 1.5px;
        -webkit-border-radius: 8px;
        background: white;
        font: 45px Roboto;
        color: black;
        width: 130px;
        margin: 60px auto;
        display: flex;
    }
    
    




    /***********************************************  JEU TEL   ***********************************************/

    #resultat {
        opacity: 0;
        height: 0;
        width: 0;
    }

    /*****************************************   ETAPE 1 *****************************/
    #des img {
        width: 10vh;
        height: 10vh;
    }

    #des {
        width: auto;
        height: auto;
        margin: auto;
        padding-top: 2%;
    }

    .bouton1 {
        margin: 0 auto auto;
        padding: 25px;
        font-size: 3rem;
    }

    .bouton2 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
    }

    .bouton3 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
        margin: 20px auto 50px;
    }

    .bouton4 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
        margin: 20px auto auto;
    }

    .bouton5 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
        margin: 20px auto auto;
    }

    .bouton6 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
        margin: 20px auto auto;
    }

    .bouton7 {
        padding: 25px;
        font-size: 3rem;
        width: 400px;
        margin: 50px auto 70px;
    }


    .etape1 p:nth-of-type(2)::before {
        width: 30px;
        height: 30px;
    }

    .titre1 {
        margin: 70px 0 15px;
        font-size: 2.5rem;
    }

    .etape1 p:first-of-type {
        margin: 20px 10px 50px 0px;
    }

    .etape1 p:nth-of-type(3)::before {
        width: 30px;
        height: 30px;
    }

    .etape1 p {
        font-size: 1em;
    }

    .etape1 h2 {
        margin: 70px 0 15px;
        font-size: 40px;
    }


    /*****************************************   ETAPE 2 ********************************/
    .etape2 h2 {
        margin: 70px 0 15px;
        font-size: 40px;

    }

    .consigne2 {
        margin: 0 0 10px 40px;
        font-size: 35px;
    }

    .consignes {
        margin: 0 0 10px 40px;
        font-size: 1.8em;
    }



    #jeuCartes {
        width: auto;
        margin: 20px 0;
    }

    /*Retournement des cartes : principe du flip  */
    .flip {
        width: 8vh;

    }

    .flip img {
        width: 8vh;
    }

    /********************************    ETAPE 3 ***********************************/

    #programme {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto;
        margin: 10vh auto;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    #page4 h2 {
        margin: 70px 0 15px;
        font-size: 40px;
    }

    /***********************************    ETAPE 4 ***************************/

    #oppoArchi {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto;
        margin: 5vh 0 auto;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    #page5 h2 {
        margin: 70px 0 15px;
        font-size: 40px;
    }

    /***********************************    ETAPE 5 ***************************/

    #site {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto;
        margin: 10vh 0 auto;
    }


    #page6 h2 {
        margin: 70px 0 15px;
        font-size: 40px;
    }


    /********************************   BILAN   ****************************************/

    #bilan {
        height: 0;
        overflow: hidden;
    }

    #bilan h2 {
        margin: 70px 0 15px;
        font-size: 40px;
    }

    #bilan:target {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: relative;
        margin: 0px 30px 20px;
        padding: 130px 0 30px;
        min-height: calc(100vh - 200px);
        height: auto;
    }

    #resultatBilan {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: relative;
        min-width: 80px;
    }

    #bilan1 {
        margin: 7px 1vw;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    #bilan2 {
        margin: 7px 1vw;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    #bilan3 {
        margin: 7px 1vw;
    }

    #bilan4 {
        margin: 7px 1vw;
    }

    #bilan5 {
        margin: 7px 1vw;
    }

    .bilanCartes1 {
        flex-direction: row;
        width: 12vh;
        margin: 0.3vw;
    }

    .bilanCartes2 {
        width: 12vh;
        margin: 0.3vw;
    }

    .bilanCartes3 {
        width: 12vh;
        margin: 0.3vw;
    }

    .bilanCartes4 {
        width: 12vh;
        margin: 0.3vw;
    }

    .bilanCartes5 {
        width: 12vh;
        margin: 0.3vw;
    }

    .ligne1 {
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex;
        flex-direction: column;
    }

    .ligne2 {
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex;
    }




    /*******************************************   CONTACT   ***************************************/

    #contact {
        padding: 200px 30px 0 30px;

    }

    .lesPortraits {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;

    }

    .portrait {
        width: 100vw;
        margin: 35px;
        display: flex;
    }


    .portrait img {
        height: auto;
        width: 35vw;
        opacity: 0.7;
        margin: auto 30px;
    }

    .portrait p:first-of-type {
        text-align: center;
        font-size: 29px;
    }

    .portrait p:not(:first-of-type) {
        font-size: 27px;
    }

    /***********************************   A PROPOS   *****************************************/

    .aPropos {
        margin: 250px auto;
    }

    /***************************************************    BIBLIOTHEQUE *****************************************/

    .biblio {
        display: none;
    }

    .biblioTel {
        display: block;
    }

    .bibliotheque {
        margin: 220px 20px 20px;
    }

    .biblioTel img {
        width: calc(100vw - 40px);
        margin-bottom: 30px;
    }

    .bibliotheque h2 {
        margin: 0 0 0 25px;
        font-size: 14px;
    }


}


@media screen and (min-device-width: 576px) and (max-width: 1280px) {
    .accueil .logo {
        display: none;
    }

    .accueil .logoResponsive {
        display: flex;
        margin: 25vh auto auto;
        width: 60vw;
    }

    .accueil {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


}
