html {
    font-family: 'Roboto';
}

#jeu {
    width: 100%;
    margin: 0;

    min-height: 100vh;
}

body {
    margin: 0;
}

.entete {
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px -10px 20px grey;
    box-shadow: 0px -10px 20px grey;
    margin: 0;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 100px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 1;
}

header #jouer {
    text-decoration: none;
    border: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    display: block;
    margin: auto 30px;
}

.archiOppo {
    color: black;
    margin: auto 0;
    text-decoration: none;
    left: 90px;
    position: relative;
}

#resultat {
    display: -webkit-flex;
    position: relative;
    min-width: 80px;
    z-index: 2;
}

#p1{
    display: -webkit-flex;
    position: relative;
    min-width: 80px;
    z-index: 2;
    display: inline-block;
    margin: auto;
}

#p2{
    display: -webkit-flex;
    flex-direction: row;
    position: relative;
    min-width: 80px;
    z-index: 2;
}

#resultatDe {
    margin: auto 5px;
}

.resultatDe {
    width: 50px;
}

#resultat1 {
    margin: 7px 7px;
}

#resultat2 {
    margin: 7px 7px;
}

#resultat3 {
    margin: 7px 7px;
}

#resultat4 {
    margin: 7px 7px;
}

#resultat5 {
    margin: 7px 30px 7px 7px;
}

.resultatCartes1 {
    width: 70px;
    margin: 3px;
}

.resultatCartes2 {
    width: 70px;
    margin: 3px;
}

.resultatCartes3 {
    width: 70px;
    margin: 3px;
}

.resultatCartes4 {
    width: 70px;
    margin: 3px;
}

.resultatCartes5 {
    width: 70px;
    margin: 3px;
}

#page2 {
    display: block;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);

    overflow: hidden;
    margin: 0px 30px 20px;
}


#page3 {
    height: 0;
    overflow: hidden;
}

#page3:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    height: auto;
    overflow: hidden;
}

#page4 {
    height: 0;
    overflow: hidden;
}

#page4:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#page5 {
    height: 0;
    overflow: hidden;
}

#page5:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#page6 {
    height: 0;
    overflow: hidden;
}

#page6:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#bilan {
    height: 0;
    overflow: hidden;
}

#bilan:target {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 20px;
    padding: 130px 0 30px;
    min-height: calc(100vh - 200px);
    height: auto;
}

#resultatBilan {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 80px;
}


.bilanDe {
    width: 13vh;
}

#bilan1 {
    margin: 7px 1vw;
}

#bilan2 {
    margin: 7px 1vw;
}

#bilan3 {
    margin: 7px 1vw;
}

#bilan4 {
    margin: 7px 1vw;
}

#bilan5 {
    margin: 7px 1vw;
}

.bilanCartes1 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes2 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes3 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes4 {
    width: 14vh;
    margin: 0.3vw;
}

.bilanCartes5 {
    width: 14vh;
    margin: 0.3vw;
}

.ligne1 {
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
}

.ligne2 {
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
}

/***********************************MENU*********************************/

#menuBurger {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 40px 30px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#menu a:hover {
    color: orange;
}

#menu ul {
    padding-left: 30px;
}

#menuBurger input {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    cursor: pointer;
    -webkit-opacity: 0;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuBurger span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        -webkit-opacity 0.55s ease;
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        -webkit-opacity 0.55s ease;
}

#menuBurger span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#menuBurger span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#menuBurger input:checked ~ span {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
    background: white;
}

#menuBurger input:checked ~ span:nth-last-child(3) {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.4, 0.2);
    transform: rotate(0deg) scale(0.4, 0.2);
}

#menuBurger input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0.5px, 0px);
    transform: rotate(-45deg) translate(0.5px, 0px);
}

#menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    background: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);

    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li a {

    font-size: 80px;
}

#menu li {
    padding: 0;
    margin: 0 0 30px 30px;
}

#menuBurger input:checked ~ ul {
    -webkit-transform: none;
    transform: none;
}

/******************************     ACCUEIL     *********************************/

.accueil {
    display: -webkit-flex;
    text-align: center;
    z-index: 5;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
}


.accueil h2 {
    overflow: hidden;
    margin: auto;
    font-size: 50px;
}

.scroll {
    position: absolute;
    height: 8%;
    margin: 0 auto;
    bottom: 4%;
    z-index: 13;
    left: 47%;
    -webkit-animation: shake 1s infinite;
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
        -webkit-transform: translate(0.0px);
        transform: translate(0.0px);
    }

    50% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }

    100% {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
}

/*************************************    REGLE    **********************************/

.haut {
    display: -webkit-flex;
    margin-bottom: 20px;
}

.haut div {
    border: solid black 1.5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0 20px;
}

.haut div:first-of-type {
    width: 40%;
    margin-right: 20px;
}

.haut div:nth-of-type(2) {
    width: 60%;
    margin-right: 0px;
}

.bas {
    border: solid black 1.5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.lesEtapes {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.lesEtapes div {
    width: 16%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.regle {
    padding: 130px 30px 50px;
    display: none;
}

.regle h2 {
    font-size: 25px;
}

.deBut {
    width: 100px;
    margin: 0;
    right: 0;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape2 {
    width: 60%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape3 {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape4 {
    margin-top: 10px;
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape5 {
    width: 36%;
    -webkit-align-self: center;
    align-self: center;
}

.cEtape6 {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
}

.lesEtapes p {
    margin: 0px 0 10px;
}

.lesEtapes h3 {
    margin: 0 0 10px;
}

.un h3 {
    margin-top: 20px;
}

/*****************************************   ETAPE 1 *****************************/
#des img {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 12vh;
    height: 12vh;
    margin: 1vh;
}

#des {
    width: 95vh;
    height: 28vh;
    margin: 0 auto;
    padding-top: 2%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.bouton1 {
    border: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    display: block;
    margin: auto;
}

.bouton2 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton3 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton4 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton5 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton6 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: none;
}

.bouton7 {
    text-decoration: none;
    padding: 15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid black 1px;
    background: white;
    font: 20px Roboto;
    color: black;
    width: 140px;
    text-align: center;
    margin: auto;
    display: block;
}

.etape1 p {
    position: relative;
    z-index: -10;
}

.etape1 p:first-of-type::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #E07B11;
    margin: 0 10px;
    top: 3px;
    position: relative;
    z-index: 0;
}


.etape1 p:nth-of-type(2)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #082312;
    margin: 0 10px;
    top: 3px;
    z-index: 0;
    position: relative;
}

/*****************************************   ETAPE 2 ********************************/
.etape2 {
    height: 100%;
}

.consigne {
    margin: 0 0 0 40px;

}

#jeuCartes {
    margin: 10px auto;
    width: 153vh;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

/*Retournement des cartes : principe du flip  */
.flip {
    margin: 1vh 1vh;
    width: 15vh;
    position: relative;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);

}

.flip img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
}

.flip img {
    -webkit-box-shadow: 0 0 0px black;
    box-shadow: 0 0 0px black;
    display: block;
    width: 15vh;
}

.flip img:first-child {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    top: 0;
    left: 0;
}

.face {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/********************************    ETAPE 3 ***********************************/

#programme {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 85vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}


/***********************************    ETAPE 4 ***************************/

#oppoArchi {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 119vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

/***********************************    ETAPE 5 ***************************/

#site {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 102vh;
    margin: 10px auto;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}





/*****************************   FOOTER ************************/

footer p {
    position: fixed;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    bottom: 0;
    height: 30px;
    font-size: 0.7rem;

    background-color: white;
}

footer {
    background-color: white;
    z-index: 1;
}

/***********************************************************************    CONTACT  *********************************************************/

#contact {
    padding: 130px 30px 0 30px;

}

.lesPortraits {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

}

.portrait {
    width: 15%;
    margin: 15px;
}


.portrait img {
    width: 100%;
}

.portrait p {
    text-align: center;
    font-weight: bolder;
}





































.page-template {
    font-family: 'arial';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page-template .header {
    position: absolute;
    top: 4%;
    left: 3%;
    color: black;
    font-size: 0.8rem;
}

.page-template .footer {
    position: absolute;
    font-size: 8px;
    bottom: 1.5%;
    right: 0;
    left: 0;
    text-align: center;
    color: black;
}

.page-template .rect{
    content: "";
    border: solid black 1px;
    border-radius: 8px;
    position: absolute;
    bottom: 4%;
    height: 61%;
    width: 94%;
    left: 3%;
}

.page-template .rectResultat{
    content: "";
    border: solid black 1px;
    border-radius: 8px;
    position: absolute;
    top:7%;
    height: 21%;
    width: 94%;
    left: 3%;
}

.page-template .body{
    font-size: 0.8rem;
    position: absolute;
    left: 3%;
    bottom: calc(25px + 62%);
}